.row
{
    margin-left: 3%;
}


.overflow-auto
{
    overflow-y: scroll;
}
.scroll
{
    height: 400px;
}
li, option{
    font-family: 'Times new roman';
}

a{
    text-decoration: none;
    font-size: 20px;
}
a:active
{
    background-color: darkcyan !important;
    color: white;
}
a:focus
{
    background-color: darkcyan !important;
    color: white;
}
option{
    font-size: 20px;
}


  @media  (max-width: 767.98px){
    .col-xs-12{
        margin-top: 5px !important;
        margin-left: 0px !important;
    }
  }