@media  (max-width: 767.98px){
    .row,.col-xs-6
    {
        margin: 10px !important;
    }
}
.card-header
{
    background-color: darkcyan;
    color: white;
}
.card
{
    padding:0 ;
}
h5
{
    font-family: 'Salma';
    font-size: 25px;
}
#edit
{
    text-decoration: white !important;
    color: white !important;
}
#link
{
    text-decoration: white !important;
    background-color: white !important;
    color: black;
}
#link:active
{
    color: black;
}
.action
{
    margin-top: -60px !important;
}
.justify-content-center
{
    margin-left: 80px !important;
}