@media  (max-width: 767.98px){
    .row,.col-xs-6
    {
        margin: 10px !important;
    }
}
.card-header
{
    background-color: darkcyan;
    color: white;
}
.card
{
    padding:0 ;
}
h5
{
    font-family: 'Salma';
    font-size: 25px;
}
a{
    text-decoration: white !important;
    color: white !important;
}