<button routerLink="add" type="button" class="btn btn-success m-5">Ajouter</button>
<div class="row ml-3">
    <!--divider-->
    <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

    <!--divider-->
    <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
     <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  

     <!--divider-->
    <div class="card col-md-2 col-sm-2 col-xs-6 ml-5">
        <div class="card-header">
            <h5>
                Libellé
                <a class="float-right" routerLink="edit"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </a>
            </h5>      
        </div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <hr class="dropdown-divider">
                <h5>Compétences</h5>
            <hr class="dropdown-divider">
                <h5>Tags</h5>
        </div>
    </div>  


</div>