.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #dbdbdb;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }

h3
{
    font-size: 35px;
    color: darkcyan;
    font-family: 'Salma';
}

label
{
    font-size: 30px;
}
.control
{
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s !important;
}
.btn{
    font-family: 'Salma';
    
}

.competence
{
    border: 2px solid darkgray ; 
    width: 100%;
     height: auto;

}
.example-chip-list {
  width: 100%;
}
ng-multiselect-dropdown{
  color: darkcyan;
}
.title
{
  text-align: center;
  font-family: 'Salsa';
  font-size: 30px;
  color: #34936e;
  font-weight: bold;
}
#competence
{
  width: 40% !important;
}
#competence:active
{
  background-color: #34936e; 
}

