<div class="container p-5 mt-5 bg-light shadow p-3 mb-5 bg-white rounded ">
    <form class="form-group">
        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">Libellé</label>
            <input class="form-control control" type="text" placeholder="" value="Développer le back-end d’une application web">
        </div>  
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">Présentation</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mt-3">
            <!--<label for="exampleFormControlTextarea1">Compétence</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>-->
            <label for="exampleFormControlInput1" class="form-label">Compétence</label>
            <div class="competence p-3">
                <div class="chip">
                    Développer le back-end d'une application web
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>  
                <div class="chip">
                    Développer le front-end d'une application web
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div> 
                <div class="chip">
                    Maquetter une application
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="exampleFormControlInput1" class="form-label">Programme</label>
            <input class="form-control control" type="file" placeholder="" value="Développer le back-end d’une application web">
        </div> 
        <div class="form-group mt-3">
            <label for="exampleFormControlInput1" class="form-label">Critères d'évaluation</label>
            <div class="competence p-3">
                <div class="chip">
                    Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>  
                <div class="chip">
                    Une soutenance devant un jury de professionnels
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div> 
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="exampleFormControlInput1" class="form-label">Critères d'admission</label>
            <div class="competence p-3">
                <div class="chip">
                    Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>  
                <div class="chip">
                    Une soutenance devant un jury de professionnels
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div> 
            </div>
        </div>
       <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success btn-lg">Enrégistrer</button>
       </div>
    </form>
</div>
