<div class="container p-5 mt-5 bg-light shadow p-3 mb-5 bg-white rounded ">
    <form class="form-group">
        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">Libellé</label>
            <input class="form-control control" type="text" placeholder="" value="Développer le back-end d’une application web">
        </div>  
        <div class="form-group mt-5">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mt-5">
            <!--<label for="exampleFormControlTextarea1">Compétence</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>-->
            <label for="exampleFormControlInput1" class="form-label">Libellé</label>
            <div class="competence p-3">
                <div class="chip">
                    Créer une base de données
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>  
                <div class="chip">
                    Développer les composants d’accès aux données
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div> 
                <div class="chip">
                    Maquetter une application
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>
                <div class="chip">
                    Développer le back end d'une application
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                </div>  
            </div>
        </div>
       <div class="text-center mt-3">
        <button type="button" class="btn btn-outline-success btn-lg">Enrégistrer</button>
       </div>
    </form>
</div>
